### Dummy Variables
This technique is used to transform categorical values into a numbers to be manipulated. It consists of a matrix of 0's and a 1 in the position of the categorical value that the variable represents.

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Import the dataser
absenteeism_df = pd.read_csv("Absenteeism_at_work.csv", sep = ";")

# Print the first 5 lines of the dataframe
absenteeism_df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [3]:
# Transform a categorical value to dummy variables
dummy_var = pd.get_dummies(absenteeism_df["Day of the week"], prefix="Day")

# Add dummy_var to the dataframe
absenteeism_df = pd.concat([absenteeism_df, dummy_var], axis = 1)

# Remove old column from dataframe
absenteeism_df = absenteeism_df.drop("Day of the week", axis = 1)

# Print the first 5 lines to see the changes
absenteeism_df.head()

,ID,Reason for absence,Month of absence,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,...,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Day_2,Day_3,Day_4,Day_5,Day_6
0,11,26,7,1,289,36,13,33,239.554,97,...,1,90,172,30,4,0,1,0,0,0
1,36,0,7,1,118,13,18,50,239.554,97,...,0,98,178,31,0,0,1,0,0,0
2,3,23,7,1,179,51,18,38,239.554,97,...,0,89,170,31,2,0,0,1,0,0
3,7,7,7,1,279,5,14,39,239.554,97,...,0,68,168,24,4,0,0,0,1,0
4,11,23,7,1,289,36,13,33,239.554,97,...,1,90,172,30,2,0,0,0,1,0

#### Credits
* [Aletta Smits](https://nl.linkedin.com/in/alettasmits)
* [Rowan Langford](https://towardsdatascience.com/the-dummys-guide-to-creating-dummy-variables-f21faddb1d40)
* [Shanelynn](https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/)